@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

/* ============
Resets
=============== */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img,
svg {
	width: 100%;
}

button {
	background-color: transparent;
	border: none;
}

/* ============
Global
=============== */

:root {
	/* Gradients */
	--gradient-bg: radial-gradient(circle, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
	--gradient-scissors: radial-gradient(circle, hsl(39, 89%, 49%) 0%, hsl(40, 84%, 53%) 100%);
	--gradient-paper: radial-gradient(circle, hsl(230, 89%, 62%) 0%, hsl(230, 89%, 65%) 100%);
	--gradient-rock: radial-gradient(circle, hsl(349, 71%, 52%) 0%, hsl(349, 71%, 52%) 100%);
	--gradient-lizard: radial-gradient(circle, hsl(261, 73%, 60%) 0%, hsl(261, 72%, 63%) 100%);
	--gradient-cyen: radial-gradient(circle, hsl(189, 59%, 53%) 0%, hsl(189, 58%, 57%) 100%);

	/* Colors */
	--text-dark: hsl(228, 25%, 31%);
	--text-default: hsl(229, 64%, 46%);

	--outline: hsl(217, 16%, 45%);
}

body {
	background: var(--gradient-bg);
}

/* ============
Typography
=============== */

body {
	font-family: 'Noto Sans', sans-serif;
}
