@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 180, 52%, 96%;
		--foreground: 0, 0%, 0%;
		--card: 0, 0%, 100%;
		--card-foreground: 0, 0%, 0%;
		--accent: 180, 29%, 50%;
		--accent-foreground: 0, 0%, 100%;
		--muted: 180, 31%, 95%;
		--muted-foreground: 180, 29%, 50%;
		--success: 142 69.2% 58%;
		--success-foreground: 0 0 3.9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 180, 29%, 50%;
		--radius: 0.2rem;
	}

	body {
		background-color: hsl(var(--background));
	}
}
